{% extends "base.html" %}

{% block headextra %}

<script src="{{url_for('static', filename='fileIO.js')}}"></script>
<script>

    function clearResults(resKey){
        a = confirm("Clicking OK will clear ALL trials of your evaluation data! Only do this if there's been an error or you've already exported the data.");
        if (a){
            console.log("cleared evaluation results of " + resKey + " from localstorage");
            localStorage[resKey] = undefined;
            location.reload();
        }
    }

    function checkDownloadResults(resKey){
        if (localStorage[resKey] == "undefined"){
             alert("No eval results to download");
        } else {
            downloadResults()
        }
    }

    var average = (array) => array.reduce((a, b) => a + b) / array.length;
    var divideAll = (array, divisor) => array.map((elem) => elem/divisor);


    document.addEventListener("DOMContentLoaded", function(event) {
        keys = ["grid1_results", "grid2_results", "list1_results", "list2_results"];
        for (let j = 0; j < 4; j++){
            resultsKey = keys[j];
            console.log("showing results for ", resultsKey)

            if (typeof(localStorage[resultsKey]) == "undefined"){
                tmp = document.createElement("div");
                tmp.innerHTML = "No evaluation results to show for key " + resultsKey;
                document.body.append(tmp);
            } else{
                var evalResults = JSON.parse(localStorage[resultsKey]);
                evalResults = evalResults.flat();

                // Generate div and table for results Header
                let resultsDiv = document.createElement("div");
                resultsDiv.innerHTML += "<h2>Gaze+Accel Evaluation Results</h2>";
                resultsDiv.innerHTML += "<span style='color:blue;'>Blue</span> is matched, <span style='color:red;'>Red</span> is mismatched";
                resultsDiv.innerHTML += "<hr>";

                    // Table and Table header
                resultsTable = document.createElement("table");
                resultsTable.style.border = "1px solid black";
                let thead = resultsTable.createTHead();
                let row = thead.insertRow()
                for (let header of ["Timestamp", "Gesture (target, predicted)", "Screen section (target, predicted)"]){
                    let th = document.createElement("th");
                    th.style.border = "1px double black";
                    th.innerHTML = header;
                    row.appendChild(th);
                }

            //    document.body.append(resultsTable); // debug

                // Populate results table
                let correctGest = 0;
                let correctSeg = 0;
                let totals = evalResults.length;
                evalResults.forEach((elem, ind) => {
                    if (Array.isArray(elem)){
                        // elem format is [d.getTime(), [detectedgesture, detectedsegment], [targetgesture, targetsegment]]
                        // Get the numbers out
                        let dateInMillis = elem[0];
                        let detected = elem[1];
                        let target = elem[2];
                        console.log("parsed", elem);

                        // Add to results
                        if (detected[0] == target[0]){correctGest += 1;}
                        if (detected[1] == target[1]){correctSeg += 1;}

                        // Create new row and add three cells
                        let row = resultsTable.insertRow();

                            // Date
                        cell = row.insertCell();
                        date = new Date(dateInMillis);
                        cell.innerHTML = date.toLocaleTimeString() + ", " + date.toDateString();
                            // Gesture and Segment
                        for (i in [0,1]){
                            cell = row.insertCell();
                            tmpspan = document.createElement("span");
                            if (target[i] == detected[i]){
                                tmpspan.style.color = "blue";
                            } else{
                                tmpspan.style.color = "red";
                            }
                            tmpspan.innerText = target[i] + ", " + detected[i];
                            cell.append(tmpspan)
                        }
                    } else{

                    }
                });

                // Add statistics to bottom, after table
                finalStats = document.createElement("p");
                finalStats.innerHTML += "<h2>Results for " + resultsKey + "</h2>";
                finalStats.innerHTML += "Gestures correct: " + correctGest + "/" + totals + " = " + (100*correctGest/totals).toFixed(1) + "%";
                finalStats.innerHTML += "<br>Screen sections correct: " + correctSeg + "/" + totals + " = " + (100*correctSeg/totals).toFixed(1) + "%";
                finalStats.innerHTML += "<br>Overall: " + (correctSeg+correctGest) + "/" + (2*totals) + " = " + (50*(correctGest+correctSeg)/totals).toFixed(1) + "%";

                // Add results to document body
                resultsDiv.append(finalStats);
                resultsDiv.append(resultsTable);
                document.body.append(resultsDiv);
            }
        }
    });
</script>

{% endblock %}


{% block body %}
<div>
<!--    <button onclick="checkDownloadResults()" style="height:40px;">Download results</button>-->
    <button onclick="location.href='../'" style="height:40px;">Back to GAZEL Home</button>
    <button onclick="checkDownloadResults()" style="height:40px;">Download results</button>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <button onclick="clearResults()" style="height:20px;background-color:lightcoral;">Clear results</button>
</div>
{% endblock %}



