{% extends "base.html" %}

{% block headextra %}

<script src="{{url_for('static', filename='fileIO.js')}}"></script>
<script>
    var keys = ["grid1_results", "grid2_results", "list1_results", "list2_results"];

    function clearResultsKey(resKey){
        a = confirm("Clicking OK will clear ALL trials of your evaluation data for this key (" + resKey + ") only! Only do this if there's been an error or you've already exported the data.");
        if (a){
            console.log("cleared evaluation results of " + resKey + " from localstorage");
            localStorage.removeItem(resKey);
            location.reload();
        }
    }

    function clearResultsALL(){
        a = confirm("Clicking OK will clear ALL trials of your evaluation data across ALL KEYS! Only do this if there's been an error or you've already exported the data.");
        if (a){
            for (let i = 0; i < 4; i++){
                let tmpkey = keys[i];
                console.log("cleared evaluation results of " + tmpkey + " from localstorage");
                localStorage.removeItem(tmpkey);
            }
            location.reload();
        }
    }

    function checkDownloadResultsALL(){
        downloadResultsManyKeys(keys);
    }

    function checkDownloadResults(resKey){
        if (localStorage[resKey] == "undefined"){
             alert("No eval results to download");
        } else {
            downloadResultsFromKey(resKey)
        }
    }

    var average = (array) => array.reduce((a, b) => a + b) / array.length;
    var divideAll = (array, divisor) => array.map((elem) => elem/divisor);


    document.addEventListener("DOMContentLoaded", function(event) {

        // Generate div and table for results Header
        let resultsDiv = document.createElement("div");
        resultsDiv.innerHTML += "<h2>Gaze+Accel Evaluation Results</h2>";
        resultsDiv.innerHTML += "<span style='color:blue;'>Blue</span> is matched, <span style='color:red;'>Red</span> is mismatched";
        // resultsDiv.innerHTML += "<hr>";

        for (let j = 0; j < 4; j++){
            let resultsKey = keys[j];
            let resultsType = resultsKey.slice(0,4);
            let resultsName = resultsKey.slice(0,5);

            console.log("showing results for ", resultsKey)

            if (typeof(localStorage[resultsKey]) == "undefined" || localStorage[resultsKey] == undefined || localStorage[resultsKey] == "undefined"){
                tmp = document.createElement("div");
                tmp.innerHTML = "No evaluation results to show for key " + resultsKey;
                resultsDiv.append(tmp);
            } else{
                var evalResults = JSON.parse(localStorage[resultsKey]);
                evalResults = evalResults.flat();

                    // Table and Table header
                resultsTable = document.createElement("table");
                resultsTable.style.border = "1px solid black";
                resultsTable.style.textAlign = "center";
                resultsTable.style.padding = "0.5em";

                

                let thead = resultsTable.createTHead();
                let row = thead.insertRow()
                for (let header of ["Timestamp", "Gesture (target, predicted)", "Screen section (target, predicted)", "Redo Block"]){
                    let th = document.createElement("th");
                    th.style.padding = "0.5em";
                    th.style.border = "1px solid black";
                    th.innerHTML = header;
                    row.appendChild(th);
                }

            //    document.body.append(resultsTable); // debug

                // Populate results table
                let correctGest = 0;
                let correctSeg = 0;
                let totals = evalResults.length;

                let segmentCount = 0;
                let segmentsPerBlock;
                if (resultsType == "grid"){
                    segmentsPerBlock = 8;
                } else{
                    segmentsPerBlock = 6;
                }


                evalResults.forEach((elem, ind) => {
                    if (Array.isArray(elem)){
                        // elem format is [d.getTime(), [detectedgesture, detectedsegment], [targetgesture, targetsegment]]
                        // Get the numbers out of the elem
                        let dateInMillis = elem[0];
                        let detected = elem[1];
                        let target = elem[2];
                        // console.log("parsed", elem);

                        // Add to results
                        if (detected[0] == target[0]){correctGest += 1;}
                        if (detected[1] == target[1]){correctSeg += 1;}

                        // Create new row and add three cells
                        row = resultsTable.insertRow();

                            // Date
                        cell = row.insertCell();
                        date = new Date(dateInMillis);
                        cell.innerHTML = date.toLocaleTimeString() + ", " + date.toDateString();
                            // Gesture and Segment
                        for (i in [0,1]){
                            cell = row.insertCell();
                            tmpspan = document.createElement("span");
                            if (target[i] == detected[i]){
                                tmpspan.style.color = "blue";
                            } else{
                                tmpspan.style.color = "red";
                            }
                            tmpspan.innerText = target[i] + ", " + detected[i];
                            cell.append(tmpspan)
                        }
                    } else{
                        // Create new row with dummy cells
                        row = resultsTable.insertRow();

                        for (i in [0,1,2]){
                            cell = row.insertCell();
                            cell.innerHTML = "Incomplete"
                        }
                    }
                        // Add the side column if we're in a new block
                    if ((segmentCount % segmentsPerBlock) == 0){
                        cell = row.insertCell();
                        cell.rowSpan = segmentsPerBlock;
                        let blockNum = Math.trunc(segmentCount/segmentsPerBlock);
                        let tmpLink = document.createElement("a");
                        tmpLink.target = "_blank"; 
                        tmpLink.href = "../" + resultsType + "eval/?name=" + resultsName + "&block=" + blockNum;
                        tmpLink.innerHTML = blockNum + 1;
                        // cell.innerHTML = blockNum + 1;
                        cell.append(tmpLink);
                    }
                    segmentCount += 1;
                });

                // Add download and delete buttons to each header
                let tmpbut1 = document.createElement("button");
                tmpbut1.addEventListener('click', function(){
                    checkDownloadResults(resultsKey);
                });
                tmpbut1.style.height = "40px";
                tmpbut1.innerHTML = "Download Results";


                let tmpbut2 = document.createElement("button")
                tmpbut2.addEventListener('click', function(){
                    clearResultsKey(resultsKey);
                });
                tmpbut2.style.height = "20px";
                tmpbut2.style.marginLeft = "50%";
                tmpbut2.style.backgroundColor = "lightcoral";
                tmpbut2.innerHTML = "Clear Results";


                

                // Add statistics to bottom, after table
                finalStats = document.createElement("p");
                finalStats.innerHTML += "<hr><h2>Results for key \"" + resultsKey + "\"</h2>";
                // finalStats.append(tmpbut1);
                // finalStats.innerHTML += "&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"; // Create space between buttons
                // finalStats.append(tmpbut2);
                // finalStats.innerHTML += "<br>";

                // Add rest of stats
                finalStats.innerHTML += "Gestures correct: " + correctGest + "/" + totals + " = " + (100*correctGest/totals).toFixed(1) + "%";
                finalStats.innerHTML += "<br>Screen sections correct: " + correctSeg + "/" + totals + " = " + (100*correctSeg/totals).toFixed(1) + "%";
                finalStats.innerHTML += "<br>Overall: " + (correctSeg+correctGest) + "/" + (2*totals) + " = " + (50*(correctGest+correctSeg)/totals).toFixed(1) + "%";

                // Add results to document body
                resultsDiv.append(finalStats);
                resultsDiv.append(tmpbut1);
                resultsDiv.append(tmpbut2);
                resultsDiv.append(resultsTable);
                // document.body.append(resultsDiv);
            }
        }
        document.body.append(resultsDiv);
    });
</script>

{% endblock %}


{% block body %}
<div>
<!--    <button onclick="checkDownloadResults()" style="height:40px;">Download results</button>-->
    <button onclick="location.href='../'" style="height:40px;">Back to GAZEL Home</button>
    <button onclick="checkDownloadResultsALL()" style="height:40px;">Download results</button>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <button onclick="clearResultsALL()" style="height:20px;background-color:lightcoral;">Clear results</button>
</div>
{% endblock %}



