{% extends "base.html" %}

{% block headextra %}
<!--<script>-->
<!--    if (console.everything === undefined)-->
<!--    {-->
<!--        console.everything = [];-->

<!--        console.defaultLog = console.log.bind(console);-->
<!--        console.log = function(){-->
<!--            console.everything.push({"type":"log", "datetime":Date().toLocaleString(), "value":Array.from(arguments)});-->
<!--            console.defaultLog.apply(console, arguments);-->
<!--        }-->
<!--        console.defaultError = console.error.bind(console);-->
<!--        console.error = function(){-->
<!--            console.everything.push({"type":"error", "datetime":Date().toLocaleString(), "value":Array.from(arguments)});-->
<!--            console.defaultError.apply(console, arguments);-->
<!--        }-->
<!--        console.defaultWarn = console.warn.bind(console);-->
<!--        console.warn = function(){-->
<!--            console.everything.push({"type":"warn", "datetime":Date().toLocaleString(), "value":Array.from(arguments)});-->
<!--            console.defaultWarn.apply(console, arguments);-->
<!--        }-->
<!--        console.defaultDebug = console.debug.bind(console);-->
<!--        console.debug = function(){-->
<!--            console.everything.push({"type":"debug", "datetime":Date().toLocaleString(), "value":Array.from(arguments)});-->
<!--            console.defaultDebug.apply(console, arguments);-->
<!--        }-->
<!--    }-->

<!--    function updateFakeLog(){-->
<!--        if (document.getElementById("fakeconsole") == null){-->
<!--            elem = document.createElement("p");-->
<!--            elem.id = "fakeconsole";-->
<!--            elem.hidden = true;-->
<!--            elem.innerText = JSON.stringify(console.everything);-->
<!--            document.body.append(elem);-->
<!--        } else {-->
<!--            tmp = document.getElementById("fakeconsole");-->
<!--            tmp.innerText = JSON.stringify(console.everything);-->
<!--        }-->
<!--    }-->

<!--    setInterval(updateFakeLog, 5000);-->
<!--    function showFakeLog(){-->
<!--        if (document.getElementById("fakeconsole") != null){-->
<!--            const tmp = document.getElementById("fakeconsole");-->
<!--            tmp.hidden = false;-->
<!--        }-->
<!--    };-->

<!--    elem = document.createElement("button");-->
<!--    elem.innerText = "Show Console"-->
<!--    elem.addEventListener("click", showFakeLog);-->

<!--    document.addEventListener("DOMContentLoaded", function(event) {-->
<!--           document.body.append(elem)-->
<!--    });-->
<!--</script>-->

            <!--Tensorflow javascript import-->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<!-- TFjs version 2.7 local-->
<!-- <script src="{{url_for('static', filename='tf.min.js')}}"></script> -->

<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh"></script>

<script src="{{url_for('static', filename='ML.js')}}"></script>
<script src="{{url_for('static', filename='fileIO.js')}}"></script>
<script src="{{url_for('static', filename='mainTesting.js')}}"></script>
<script src="{{url_for('static', filename='collectioncolor.js')}}"></script>
<script src="{{url_for('static', filename='datacollect_p5_pipeline.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
<script src="{{url_for('static', filename='datacollect_p5.js')}}"></script>

<!--Other ML library - MUST COME AFTER p5JS -->
 <script src="{{url_for('static', filename='mlweb.js')}}"></script>


<script>
    main()
</script>

<style>
    html, body {
      overflow-x: hidden;
    }
    body {
      position: relative;
    }

</style>

{% endblock %}


{% block body %}

<!--<input type="file" accept="application/json" id="eyeData" multiple onchange='openFile(event)'></input>-->
<!--yaga-->


<div id="main">
    <div id="p5jscanvasholder">
    </div>

    <div class="container">
<!--      <div class="canvas-wrapper">-->
<!--        <canvas id="output"></canvas>-->
        <video hidden id="video" playsinline style="
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          visibility: hidden;
          width: auto;
          height: auto;
          ">
        </video>
<!--      </div>-->
        <p id="svrstatus"></p>


        <br><br>
<!--        <canvas id="eyecache"></canvas>-->
        <canvas hidden id="eyecache"></canvas>



    </div>
  </div>


{% endblock %}