{% extends "base.html" %}

{% block headextra %}
<!-- Tensorflow core, model, and backend-->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh"></script>

<!-- Javascript specific to this page -->
<script src="{{url_for('static', filename='facemeshdemo.js')}}"></script>

<script>
    main();
</script>

{% endblock %}


{% block body %}

<div id="main">
    <p id="RPY"></p>
    <canvas id="eyecache"></canvas>

    <video autoplay muted playsinline id="video"  style="
              -webkit-transform: scaleX(-1);
              transform: scaleX(-1);
              visibility: hidden;
              width: auto;
              height: auto;
              ">
            </video>

</div>


{% endblock %}