{% extends "base.html" %}

{% block headextra %}
<!-- Tensorflow core, model, and backend-->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.js"></script>

<!-- Javascript specific to this page -->
<script src="{{url_for('static', filename='ML.js')}}"></script>
<script src="{{url_for('static', filename='fileIO.js')}}"></script>
<script src="{{url_for('static', filename='training.js')}}"></script>


<script>
    main();
</script>

{% endblock %}


{% block body %}

<div id="main">
    <button type="button" onclick="trainModel(0)">Train Left Model</button>
    <button type="button" onclick="trainModel(1)">Train Right Model</button>
    <button type="button" onclick="saveModel(eyeModel)">Save Model</button>
    <input type="file" accept="application/json" id="eyeData" multiple onchange='openFile(event)'></input>
    <button type="button" onclick="testModel()">Test Model</button>
    <br>

    <button type="button" onclick="eyeData2tensor()">Convert eyeData</button>
    <button type="button" onclick="trainBoostedModel()">Train Boosted</button>
    <button type="button" onclick="saveModel(boostModel)">Save Boost Model</button>

    <br>

    <p id="trainingstate"></p>
    <p id="prediction"></p>

  </div>


{% endblock %}