{% extends "base.html" %}

{% block headextra %}

<!-- Tensorflow core, model, and backend-->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh"></script>

<!-- Javascript specific to this page -->
<script src="{{url_for('static', filename='ML.js')}}"></script>
<script src="{{url_for('static', filename='svr.js')}}"></script>
<script src="{{url_for('static', filename='collectioncolor.js')}}"></script>
<script src="{{url_for('static', filename='zoo.js')}}"></script>


<!--Other ML library-->
<script src="{{url_for('static', filename='mlweb.js')}}"></script>

<script>
    main();
    showPredictDot = false;

    // Wait until after the body loads before adding elements to it.
    document.addEventListener("DOMContentLoaded", function(event) {
        zooSelect({{ zooNum }});
    })

</script>


<style>
    .top_notif_deselected {
        margin: 0;

        left: 2%;
        right: 2%;
        height: 5%;
        top: 2%;

        background-color: #dcdcdcaa;
        border-radius: 15px;
        position:fixed;
        backdrop-filter: blur(4px);

        animation: getSmaller 1s;
    }

    @keyframes getSmaller {
        from {
            left: 0%;
            right: 0%;
            top: 0%;
            height: 8%;
        }

        to {
            left: 2%;
            right: 2%;
            height: 5%;
            top: 2%;
        }
    }


    .top_notif_selected {
        margin: 0;

        left: 0%;
        right: 0%;
        top: 0%;
        height: 8%;

        background-color: #dcdcdcaa;
        border-radius: 15px;
        position:fixed;
        backdrop-filter: blur(4px);

        animation: getBigger 1s;
    }

    @keyframes getBigger {
        from {
            left: 2%;
            right: 2%;
            top: 2%;
            height: 5%;
        }

        to {
            left: 0%;
            right: 0%;
            top: 0%;
            height: 8%;
        }
    }


    .top_notif {
        margin: 0;

        left: 2%;
        right: 2%;
        height: 5%;
        top: 2%;

        background-color: #dcdcdcaa;
        border-radius: 15px;
        position:fixed;
        backdrop-filter: blur(4px);

        animation: slideintop 1.5s;
    }


    @keyframes slideintop {
        from {
            top: -10%;
        }

        to {
            top: 2%;
        }
    }


    p {
      animation-duration: 3s;
      animation-name: slidein;
    }


</style>



{% endblock %}


{% block body %}

<div id="main">

    <canvas hidden id="eyecache"></canvas>
    <video hidden autoplay muted playsinline id="video"  style="
              -webkit-transform: scaleX(-1);
              transform: scaleX(-1);
              visibility: hidden;
              width: auto;
              height: auto;
              "></video>

</div>
{% endblock %}