{% extends "base.html" %}

{% block headextra %}
<!-- Tensorflow core, model, and backend-->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.js"></script>

<!-- Javascript specific to this page -->
<script src="{{url_for('static', filename='ML.js')}}"></script>
<script src="{{url_for('static', filename='fileIO.js')}}"></script>
<script src="{{url_for('static', filename='transfer.js')}}"></script>


<script>
    main();
</script>

{% endblock %}


{% block body %}

<div id="main">
    <button type="button" onclick="trainModel()">Train Model</button>
    <button type="button" onclick="saveModel()">Save Model</button>
    <input type="file" accept="application/json" id="eyeData" multiple onchange='openFile(event)'></input>
    <button type="button" onclick="testModel()">test Model</button>

    <br>
    <img id="img" crossorigin src="https://i.imgur.com/JlUvsxa.jpg" width="227" height="227"/>

  </div>


{% endblock %}