{% extends "base.html" %}

{% block headextra %}
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh"></script>-->
<!-- Adds the WASM backend to the global backend registry -->
<!--<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/regression/2.0.1/regression.js"></script>-->
<!--<script src="https://rawgit.com/chen0040/js-regression/master/build/jsregression.min.js"></script>-->

<script src="{{url_for('static', filename='fileIO.js')}}"></script>

<script>
    var regression = new jsregression.LinearRegression();

    // === Train the linear regression === //
    var model = regression.fit([[0,1,1,2,8], [0,1,2,3,9]]);

    // === Print the trained model === //
    console.log(model);


</script>

{% endblock %}


{% block body %}

yaga



<div id="main">
    <div class="container">
      <div class="canvas-wrapper">
        <canvas id="output"></canvas>
        <video id="video" playsinline style="
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          visibility: hidden;
          width: auto;
          height: auto;
          ">
        </video>
      </div>
      <div id="scatter-gl-container"></div>
        <button type="button" onclick="saveEyes()">Save Eyes</button>

        eyecache
        <br><br>
        <canvas id="eyecache"></canvas>


    </div>
  </div>


{% endblock %}