.lm_root{position:relative}.lm_row>.lm_item{float:left}.lm_content{overflow:hidden;position:relative}.lm_dragging,.lm_dragging *{cursor:move!important;user-select:none}.lm_maximised{position:absolute;top:0;left:0;z-index:40}.lm_maximise_placeholder{display:none}.lm_splitter{position:relative;z-index:20}.lm_splitter:hover,.lm_splitter.lm_dragging{background:orange}.lm_splitter.lm_vertical .lm_drag_handle{width:100%;position:absolute;cursor:ns-resize}.lm_splitter.lm_horizontal{float:left;height:100%}.lm_splitter.lm_horizontal .lm_drag_handle{height:100%;position:absolute;cursor:ew-resize}.lm_header{overflow:visible;position:relative;z-index:1}.lm_header [class^=lm_]{box-sizing:content-box!important}.lm_header .lm_controls{position:absolute;right:3px}.lm_header .lm_controls>li{cursor:pointer;float:left;width:18px;height:18px;text-align:center}.lm_header ul{margin:0;padding:0;list-style-type:none}.lm_header .lm_tabs{position:absolute}.lm_header .lm_tab{cursor:pointer;float:left;height:14px;margin-top:1px;padding:0 10px 5px;padding-right:25px;position:relative}.lm_header .lm_tab i{width:2px;height:19px;position:absolute}.lm_header .lm_tab i.lm_left{top:0;left:-2px}.lm_header .lm_tab i.lm_right{top:0;right:-2px}.lm_header .lm_tab .lm_title{display:inline-block;overflow:hidden;text-overflow:ellipsis}.lm_header .lm_tab .lm_close_tab{width:14px;height:14px;position:absolute;top:0;right:0;text-align:center}.lm_stack.lm_left .lm_header,.lm_stack.lm_right .lm_header{height:100%}.lm_dragProxy.lm_left .lm_header,.lm_dragProxy.lm_right .lm_header,.lm_stack.lm_left .lm_header,.lm_stack.lm_right .lm_header{width:20px;float:left;vertical-align:top}.lm_dragProxy.lm_left .lm_header .lm_tabs,.lm_dragProxy.lm_right .lm_header .lm_tabs,.lm_stack.lm_left .lm_header .lm_tabs,.lm_stack.lm_right .lm_header .lm_tabs{transform-origin:left top;top:0;width:1000px}.lm_dragProxy.lm_left .lm_header .lm_controls,.lm_dragProxy.lm_right .lm_header .lm_controls,.lm_stack.lm_left .lm_header .lm_controls,.lm_stack.lm_right .lm_header .lm_controls{bottom:0}.lm_dragProxy.lm_left .lm_items,.lm_dragProxy.lm_right .lm_items,.lm_stack.lm_left .lm_items,.lm_stack.lm_right .lm_items{float:left}.lm_dragProxy.lm_left .lm_header .lm_tabs,.lm_stack.lm_left .lm_header .lm_tabs{transform:rotate(-90deg) scaleX(-1);left:0}.lm_dragProxy.lm_left .lm_header .lm_tabs .lm_tab,.lm_stack.lm_left .lm_header .lm_tabs .lm_tab{transform:scaleX(-1);margin-top:1px}.lm_dragProxy.lm_left .lm_header .lm_tabdropdown_list,.lm_stack.lm_left .lm_header .lm_tabdropdown_list{top:initial;right:initial;left:20px}.lm_dragProxy.lm_right .lm_content{float:left}.lm_dragProxy.lm_right .lm_header .lm_tabs,.lm_stack.lm_right .lm_header .lm_tabs{transform:rotate(90deg) scaleX(1);left:100%;margin-left:0}.lm_dragProxy.lm_right .lm_header .lm_controls,.lm_stack.lm_right .lm_header .lm_controls{left:3px}.lm_dragProxy.lm_right .lm_header .lm_tabdropdown_list,.lm_stack.lm_right .lm_header .lm_tabdropdown_list{top:initial;right:20px}.lm_dragProxy.lm_bottom .lm_header .lm_tab,.lm_stack.lm_bottom .lm_header .lm_tab{margin-top:0;border-top:none}.lm_dragProxy.lm_bottom .lm_header .lm_controls,.lm_stack.lm_bottom .lm_header .lm_controls{top:3px}.lm_dragProxy.lm_bottom .lm_header .lm_tabdropdown_list,.lm_stack.lm_bottom .lm_header .lm_tabdropdown_list{top:initial;bottom:20px}.lm_drop_tab_placeholder{float:left;width:100px;height:10px;visibility:hidden}.lm_header .lm_controls .lm_tabdropdown:before{content:'';width:0;height:0;vertical-align:middle;display:inline-block;border-top:5px dashed;border-right:5px solid transparent;border-left:5px solid transparent;color:white}.lm_header .lm_tabdropdown_list{position:absolute;top:20px;right:0;z-index:5;overflow:hidden}.lm_header .lm_tabdropdown_list .lm_tab{clear:both;padding-right:10px;margin:0}.lm_header .lm_tabdropdown_list .lm_tab .lm_title{width:100px}.lm_header .lm_tabdropdown_list .lm_close_tab{display:none!important}.lm_dragProxy{position:absolute;top:0;left:0;z-index:30}.lm_dragProxy .lm_header{background:transparent}.lm_dragProxy .lm_content{border-top:none;overflow:hidden}.lm_dropTargetIndicator{display:none;position:absolute;z-index:20}.lm_dropTargetIndicator .lm_inner{width:100%;height:100%;position:relative;top:0;left:0}.lm_transition_indicator{display:none;width:20px;height:20px;position:absolute;top:0;left:0;z-index:20}.lm_popin{width:20px;height:20px;position:absolute;bottom:0;right:0;z-index:9999}.lm_popin>*{width:100%;height:100%;position:absolute;top:0;left:0}.lm_popin>.lm_bg{z-index:10}.lm_popin>.lm_icon{z-index:20}.lm_goldenlayout{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAGFBMVEX29vb19fXw8PDy8vL09PTz8/Pv7+/x8fGKuegbAAAAyUlEQVR42pXRQQ7CMBRDwST9pfe/MahEmgURbt7WmpVb6+vG0dd9REnn66xRy/qXiCgmEIIJhGACIZhACCYQgvlDCDFIEAwSBIMEwSBBMEgQDBIEgwTBIEEwCJEMQiSDENFMQmQzCZEbNyGemd6KeGZ6u4hnXe2qbdLHFjhf1XqNLXHev4wdMd9nspiEiWISJgqECQJhgkCYIBAmCIQJAmGCQJggECYJhAkCEUMEwhCBMEQgDJEIQ2RSg0iEIRJhiB/S+rrjqvXQ3paIJUgPBXxiAAAAAElFTkSuQmCC)}.lm_content{background:#e1e1e1;border:1px solid #cccccc}.lm_dragProxy .lm_content{box-shadow:2px 2px 4px rgba(0,0,0,0.2);box-sizing:border-box}.lm_dropTargetIndicator{box-shadow:inset 0 0 30px rgba(0,0,0,0.4);outline:1px dashed #cccccc;margin:1px;transition:all 200ms ease}.lm_dropTargetIndicator .lm_inner{background:#000000;opacity:.1}.lm_splitter{background:#999999;opacity:.001;transition:opacity 200ms ease}.lm_splitter:hover,.lm_splitter.lm_dragging{background:#bbbbbb;opacity:1}.lm_header{height:20px}.lm_header.lm_selectable{cursor:pointer}.lm_header .lm_tab{font-family:Arial,sans-serif;font-size:12px;color:#888888;background:#fafafa;margin-right:2px;padding-bottom:4px;border:1px solid #cccccc;border-bottom:none}.lm_header .lm_tab .lm_title{padding-top:1px}.lm_header .lm_tab .lm_close_tab{width:11px;height:11px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVR4nGNgYGD4z4Ad/Mdg4ODDBXCZRFgCp5EEHQMXBwAQAgz0SVCcggAAAABJRU5ErkJggg==);background-position:center center;background-repeat:no-repeat;right:6px;top:4px;opacity:.4}.lm_header .lm_tab .lm_close_tab:hover{opacity:1}.lm_header .lm_tab.lm_active{border-bottom:none;box-shadow:2px -2px 2px -2px rgba(0,0,0,0.2);padding-bottom:5px}.lm_header .lm_tab.lm_active .lm_close_tab{opacity:1}.lm_dragProxy.lm_bottom .lm_header .lm_tab.lm_active,.lm_stack.lm_bottom .lm_header .lm_tab.lm_active{box-shadow:2px 2px 2px -2px rgba(0,0,0,0.2)}.lm_selected .lm_header{background-color:#452500}.lm_tab:hover,.lm_tab.lm_active{background:#e1e1e1;color:#777777}.lm_header .lm_controls .lm_tabdropdown:before{color:#000000}.lm_controls>li{position:relative;background-position:center center;background-repeat:no-repeat;opacity:.4;transition:opacity 300ms ease}.lm_controls>li:hover{opacity:1}.lm_controls .lm_popout{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANUlEQVR4nI2QMQoAMAwCz5L/f9mOzZIaN0E9UDyZhaaQz6atgBHgambEJ5wBKoS0WaIvfT+6K2MIECN19MAAAAAASUVORK5CYII=)}.lm_controls .lm_maximise{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAIklEQVR4nGNkYGD4z0AAMBFSAAOETPpPlEmDUREjAxHhBABPvAQLFv3qngAAAABJRU5ErkJggg==)}.lm_controls .lm_close{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVR4nGNgYGD4z4Af/Mdg4FKASwCnDf8JKSBoAtEmEXQTQd8RDCcA6+4Q8OvIgasAAAAASUVORK5CYII=)}.lm_maximised .lm_header{background-color:#ffffff}.lm_maximised .lm_controls .lm_maximise{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJklEQVR4nGP8//8/AyHARFDFUFbEwsDAwMDIyIgzHP7//89IlEkApSkHEScJTKoAAAAASUVORK5CYII=)}.lm_transition_indicator{background-color:#000000;border:1px dashed #555555}.lm_popin{cursor:pointer}.lm_popin .lm_bg{background:#000000;opacity:.7}.lm_popin .lm_icon{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAWklEQVR4nJWOyw3AIAxDHcQC7L8jbwT3AlJBfNp3SiI7dtRaLSlKKeoA1oEsKSQZCEluexw8Tm3ohk+E7bnOUHUGcNh+HwbBygw4AZ7FN/Lt84p0l+yTflV8AKQyLdcCRJi/AAAAAElFTkSuQmCC);background-position:center center;background-repeat:no-repeat;opacity:.7}.lm_popin:hover .lm_icon{opacity:1}html,body{box-sizing:border-box;height:100%;margin:0;padding:0}.fill{position:absolute;box-sizing:border-box;height:100%;margin:0;padding:0;width:100%}.lm_header .lm_tabdropdown_list{background-color:white}.lm_header .lm_tabdropdown_list .lm_tab .lm_title{width:initial}.google-visualization-table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
}

.google-visualization-table * {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.google-visualization-table > div:first-child {
  border: solid #eee;
  border-width: 0;
}

.google-visualization-table > div:first-child.scrolling
  .google-visualization-table-table th,
.google-visualization-table > div:first-child.scrolling
  .google-visualization-table-table .frozen-column {
  visibility: hidden;
  opacity: 0;
  color: transparent;
}

.google-visualization-table > div:first-child.doneScrolling
  .google-visualization-table-table th {
  -webkit-transition: opacity .25s ease-in .1s;
  -o-transition: opacity .25s ease-in .1s;
  transition: opacity 0.25s ease-in 0.1s;
}

.google-visualization-table > div:first-child.doneScrolling
  .google-visualization-table-table .frozen-column {
  -webkit-transition: visibility , opacity .15s ease-in .15s;
  -o-transition: visibility , opacity .15s ease-in .15s;
  transition: visibility,opacity 0.15s ease-in 0.15s;
}

.google-visualization-table-table {
  font-family: arial , helvetica;
  font-size: 10pt;
  cursor: default;
  margin: 0;
  background: white;
  border-spacing: 0;
  /* 'collapse' exposes browser bugs */
  border-collapse: separate;
}

.google-visualization-table-table * {
  margin: 0;
}

.google-visualization-table .gradient {
  background-image: url("//ssl.gstatic.com/charts/static/table-title-bg.gif")
    repeat-x left bottom;
   /* @alternate */ background-image: -moz-linear-gradient(top,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.7) 30%,
    rgba(255,255,255,0.5) 60%,
    rgba(255,255,255,0) 100%); /* FF3.6+ */
   /* @alternate */ background-image: -webkit-gradient(linear,
    left top, left bottom,
    color-stop(0%, rgba(255,255,255,0.8)),
    color-stop(30%,rgba(255,255,255,0.7)),
    color-stop(60%,rgba(255,255,255,0.5)),
    color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
   /* @alternate */ background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.7) 30%,
    rgba(255,255,255,0.5) 60%,
    rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
   /* @alternate */ background-image: -o-linear-gradient(top,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.7) 30%,
    rgba(255,255,255,0.5) 60%,
    rgba(255,255,255,0) 100%); /* Opera 11.10+ */
   /* @alternate */ background-image: -ms-linear-gradient(top,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.7) 30%,
    rgba(255,255,255,0.5) 60%,
    rgba(255,255,255,0) 100%); /* IE10+ */
   /* @alternate */ background-image: linear-gradient(to bottom,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.7) 30%,
    rgba(255,255,255,0.5) 60%,
    rgba(255,255,255,0) 100%); /* W3C */
   /* @alternate */ filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#ccffffff',
    endColorstr='#00ffffff',
    GradientType=0 ); /* IE6-9 */
}

.google-visualization-table-tr-head {
  background-color: rgb(228,233,244);
  font-weight: bold;
  text-align: center;
}

.google-visualization-table-sorthdr {
  cursor: pointer;
}

.google-visualization-table-sortind {
  color: #ccc;
  padding-left: 4px;
}

.unsorted .google-visualization-table-sortind {
  display: none;
}

.unsorted .google-visualization-table-sortind:after {
  content: "\2003";
}

.sort-ascending .google-visualization-table-sortind:after {
  content: "\25b2";
}

.sort-descending .google-visualization-table-sortind:after {
  content: "\25bc";
}

.google-visualization-table-th {
  cursor: pointer;
  white-space: nowrap;
}

.google-visualization-table-td {
  overflow: hidden; /* workaround arabic overflowing cells */
}

.google-visualization-table-th, .google-visualization-table-td {
  padding: 2px 0.35em;
  /* We must inherit the background color explicitly for relative positioning */
  background-color: inherit;
  /* background-clip is not quite enough for border-collapse: collapse */
  background-clip: padding-box;
}

/* More specificity for border */
.google-visualization-table-table td,
.google-visualization-table-table th {
  border: solid #eee;
  border-width: 0 1px 1px 0;
  padding: 2px 0.35em;
}

.google-visualization-table-table th {
  position: relative;
  z-index: 10;
}

.google-visualization-table-table td.frozen-column {
  position: relative;
  z-index: 5;
}

.google-visualization-table-table thead th.frozen-column {
  z-index: 15;
}

.google-visualization-table-table .last-frozen-column {
  border-right: 2px ridge #eee;
}

.google-visualization-table-tr-even {
  background-color: #fff;
}

.google-visualization-table-tr-odd {
  background-color: #fafafa;
}

.google-visualization-table-tr-sel {
  background-color: #d6e9f8;
}

.google-visualization-table-tr-over {
  background-color: #e7e9f9;
}

.google-visualization-table-td.google-visualization-table-type-bool {
  text-align: center;
  font-family: "Arial Unicode MS", Arial, Helvetica;
}

.google-visualization-table-td.google-visualization-table-type-date {
  text-align: center;
}

.google-visualization-table-td.google-visualization-table-type-number {
  text-align: right;
  white-space: nowrap;
}

.google-visualization-table-seq {
  text-align: right;
  color: #666;
}

.google-visualization-table-div-page {
  display: inline-block;
  width: 100%;
  padding: 1px 0 0 1px;
  border: 0;
  background-color: rgb(228,233,244);
  font-family: Arial , sans-serif;
}

.google-visualization-table-div-page [role="button"] {
  display: inline-block;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: "Arial Unicode MS", Arial, Helvetica;
  font-size: 10px;
  line-height: 10px;
}

.google-visualization-table-div-page [role="button"]
 .goog-custom-button-inner-box {
   padding: 1px 1px 2px 1px;
}

.google-visualization-table-page-prev,
.google-visualization-table-page-next {
}

.google-visualization-table-page-prev:before {
  content: "\25c4";
}

.google-visualization-table-page-next:before {
  content: "\25ba";
}

.google-visualization-table-page-numbers {
  display: inline-block;
  zoom: 1;
  margin: 0;
  vertical-align: middle;
}

.ie8 .google-visualization-table-page-numbers {
  display: inline;
}

.google-visualization-table-page-number {
  display: inline-block;
  background-color: rgb(228,233,244);
  border: 1px ButtonShadow outset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: black;
  font-size: 10px;
  min-width: 10px;
  margin: 2px;
  padding: 0 2px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.google-visualization-table-page-number.current {
  font-weight: bold;
  font-size: 11px;
  background: #fefefe;
  border-style: inset;
}

.google-visualization-table-page-number:hover {
  background: #fefefe;
  border-style: inset;
}

.google-visualization-table .transparent {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}

.google-visualization-table .transparentIE6 {
  background: none;
}

.google-visualization-table th .transparent,
.google-visualization-table td .transparent {
  color: transparent;
  opacity: 0;
}

.google-visualization-table .google-visualization-hidden {
  visibility: hidden;
  pointer-events: none;
}

.google-visualization-table-loadtest {
  padding-left: 6px; /* Don't change; see table.js */
}
